body {
  background-color:#EEEEEE;
}
.App {
  display:flex;
  justify-content: center;
}
.Container
{
  display:flex;
  flex-direction:column;
  border-radius:.5em;
  padding:2em;
  margin-top:3em;
  width:40em;
  background-color:white;
  box-shadow:3px 3px 5px 5px lightgray;
}
button
{
  color: rgb(128, 128, 128);
  font-size:1em;
  padding:.5em;
  background:transparent;
  border:.1em solid lightgray;
  border-radius:.3em;
  cursor:pointer;
  transition:.5s all ease;
}
button:hover
{
  border:.1em solid black;
  color:black;
  transition:.5s all ease;
}
.FormContainer
{
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.FormContainer input[type=text]
{
  border-radius:.2em;
  border:none;
  box-shadow:2px 3px 3px 3px lightgray;
  font-size:1em;
  padding:1em;
  outline:none;
}
.FormContainer input[type=text]:focus
{
  outline:1px solid black;
}

.UpdateTasks
{
  display:flex;
  flex-direction:column;
  margin-top:2em;
}
.UpdateTasks .Task
{
  display:flex;
  flex-direction:row;
  align-content:center;
  padding:1em 0 1em 0;
  font-size:1.1em;
}

.UpdateTasks .Task .checked
{
  text-decoration: line-through;
  font-style: italic;
}
.Task .DeleteButton
{
  font-weight:bold;
  margin-left:auto;
  color:#777;
  border:none;
  background-color:transparent;
  transition:.5s all ease;
}
.UpdateTasks .Task .label
{
  margin-left:.3em;
  color: rgb(128, 128, 128);
  font-size:.9em;
  padding:.7em;
  transition:.1s all ease;
  cursor:pointer;
}
.UpdateTasks .Task .label:hover
{
  color:black;
  transition:.1s all ease;
}
.Task input[type=text]
{
  width:30em;
  border-radius:.2em;
  border:none;
  box-shadow:2px 3px 3px 3px lightgray;
  font-size:.9em;
  padding:.7em;
  outline:none;
  color: black;
}
.Task .DeleteButton:hover
{
  cursor:pointer;
  color:black;
  transition:.5s all ease;
}
.Task input[type=checkbox]
{
  margin: 4px 0 0;
  line-height: normal;
  width: 20px;
  height: 20px;
  margin-top:auto;
  margin-bottom:auto;
}
.CheckAllContainer
{
  display:flex;
  flex-direction:row;
  align-content:center;
  vertical-align: center;
  margin-top:2em;
  padding:1em 0 1em 0;
  border-top:.15em solid lightgray;
  border-bottom:.15em solid lightgray;
}
.CheckAllContainer .CheckAllButton
{
  color: rgb(128, 128, 128);
  font-size:1em;
  padding:.5em;
  background:transparent;
  border:.1em solid lightgray;
  border-radius:.3em;
  cursor:pointer;
  transition:.5s all ease;
}
.CheckAllContainer .CheckAllButton:hover
{
  border:.1em solid black;
  color:black;
  transition:.5s all ease;
}
.CheckAllContainer .NumberOfItemsRemaining
{
  color:gray;
  margin-left:auto;
  padding:.5em;
}
.FilterContainer
{
  display:flex;
  flex-direction:row;
  padding:1em 0 1em 0;
  margin-top:2em;
}
.FilterContainer button
{
  color: rgb(128, 128, 128);
  font-size:.9em;
  padding:.5em;
  background:transparent;
  border:none;
  border-radius:.3em;
  cursor:pointer;
  transition:.5s all ease;
}
.FilterContainer button:hover
{
  border:none;
  color:black;
  transition:.5s all ease;
}
.FilterContainer .ActiveButton
{
  border:.1em solid lightgray;
}
.FilterContainer .ActiveButton:hover
{
  border:.1em solid black;
  color:black;
  transition:.5s all ease;
}
.noTodosContainer
{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin: 3em auto 0;
  color:dimgray;
  letter-spacing:.01em;
  font-style: italic;
}
.name-label
{
  margin-top:1em;
  font-size:1.5em;
  font-style:italic;
}
.toggleButtons
{
  display:flex;
  justify-content: center;
  padding:1em 0em 1em 0em;
}